<div class="post-detail container">
  <div class="upvote-bar">
    <button mat-icon-button (click)="onUpvote()">
      <mat-icon class="upvote" [class.upvoted]="vote === voteTypes.UPVOTE" svgIcon="arrow_up" [inline]="true"
        [color]="vote === voteTypes.UPVOTE ? 'primary' : null"></mat-icon>
    </button>
    <span id="votes" [class.upvoted]="vote === voteTypes.UPVOTE" [class.downvoted]="vote === voteTypes.DOWNVOTE"
      [innerText]="voteNumber"></span>
    <button mat-icon-button (click)="onDownvote()">
      <mat-icon class="downvote" [class.downvoted]="vote === voteTypes.DOWNVOTE" svgIcon="arrow_down" [inline]="true"
        [color]="vote === voteTypes.DOWNVOTE ? 'warn' : null">
      </mat-icon>
    </button>
    <!-- 
    <div class="upvote">^</div>
    <div class="downvote">v</div> -->
  </div>
  <div class="content">
    <div class="metadata">
      <a class="sub-image"></a>
      <a class="sub-name" [routerLink]="post ? '/'+getSubredditName() : null">{{getSubredditName()}}</a>
      <span>|</span>
      <span>Posted by <a [routerLink]="post ? '/'+getUserName() : null">{{getUserName()}}</a></span>
      <span *ngIf="!!post">{{getTimeCreated() | timePast}}</span>
      <span *ngIf="!post">now</span>
    </div>
    <div>
      <h2 class="post-title">{{post?.title}}</h2>
    </div>
    <div *ngIf="!!post && post.text && post.text.length > 0">
      <span class="post-text">{{post.text}}</span>
    </div>
    <div *ngIf="!!post && post.images && post.images.length > 0">
      <img class="post-image" [src]="post.images[0].url" [alt]="post.images[0].title">
      <div class="post-image-title">{{post.images[0].title}}</div>
    </div>
  </div>
  <div class="comments">
    <comment *ngFor="let comment of post?.comments" [comment]="comment"></comment>
  </div>
</div>