.wall-sidebar {
  background-color: #FFF;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  height: 500px;
  border: 1px solid var(--background-dark-color);
}

.wall-sidebar>* {
  margin: 0;
  padding: 0;
}