/* You can add global styles to this file, and also import other style files */
:root {
  --font-size: 12px;
  --font-size-h2: 24px;
  --font-size-post-metadata: 11px;
  --font-size-comment-metadata: 14px;
  --border-radius: 5px;
  --upvote-bar-width: 36px;
  --mat-field-bottom-padding: 1.34375em;
  --background-color: #DDD;
  --background-dark-color: #CCC;
  --frontground-color: #FFF;
  --frontground-back-color: #EEE;
  --frontground-text-color: #000;
  --frontground-text-secondary-color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
  background-color: var(--background-color);
  font-size: var(--font-size);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

app-root,
app-root>*:nth-child(2) {
  height: 100%;
  display: block;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

h2 {
  font-family: 'YouTube Sans', Roboto, sans-serif !important;
  font-weight: bold !important;
  font-size: var(--font-size-h2) !important;
}

/* app-root,
post-detail-layout,
post-detail-layout div.wall,
post-detail,
post-detail div.post-detail,
post-detail .comments {
  height: 100%;
} */

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a.non-text:hover {
  text-decoration: none;
}

.container {
  background-color: var(--frontground-color);
  background-color: #FFF;
  border-radius: 5px;
  display: block;
  border: 1px solid var(--background-dark-color);
}

/* label {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
} */

/* input,
textarea {
  margin-top: calc(var(--font-size) + 4px);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid var(--background-color);
}

input:focus-visible,
textarea:focus-visible {
  border: 1px solid var(--frontground-inv-color);
  outline: none;
}

textarea {
  resize: none;
} */

/* button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border-radius: 0;
} */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}