.post-create {
  margin-bottom: 20px;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  max-height: 500px;
}

.image-group {
  display: flex;
  justify-content: space-between;
}

.image-group mat-form-field {
  width: 45%;
}

.buttons button {
  margin-right: 8px;
}