<div class="post" (click)="postClicked($event)" (mousedown)="postMouseDown($event)">
  <div class="upvote-bar">
    <button mat-icon-button (click)="onUpvote()">
      <mat-icon class="upvote" svgIcon="arrow_up" [inline]="true" [color]="'primary'"></mat-icon>
    </button>
    <span id="votes">99.9k</span>
    <button mat-icon-button (click)="onDownvote()">
      <mat-icon class="downvote" svgIcon="arrow_down" [inline]="true"></mat-icon>
    </button>
    <!-- 
    <div class="upvote">^</div>
    <div class="downvote">v</div> -->
  </div>
  <div class="content">
    <div class="metadata">
      <a class="sub-image" [routerLink]="'/'+post.subreddit"></a>
      <a class="sub-name" [routerLink]="'/'+post.subreddit">{{post.subreddit}}</a>
      <span>|</span>
      <span>Posted by <a [routerLink]="'/'+post.author">{{post.author}}</a></span>
      <span>5 min ago</span>
    </div>
    <div>
      <h2 class="post-title">{{post.title}}</h2>
    </div>
    <div *ngIf="post.text && post.text.length > 0">
      <span class="post-text">{{post.text}}</span>
    </div>
    <div *ngIf="post.images && post.images.length > 0">
      <img class="post-image" [src]="post.images[0].url" [alt]="post.images[0].title">
      <div class="post-image-title">{{post.images[0].title}}</div>
    </div>
    <div class="footer">
      <button mat-button (click)="navigateToDetails()">0 Comments</button>
      <button mat-button disabled>Award</button>
      <button mat-button disabled>Share</button>
      <button mat-button disabled>Save</button>
    </div>
  </div>
</div>